<div class="row" style="margin-top: 14px;">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;box-shadow: 3px 3px 10px #a3afeb;">
            
            <div class="card-body">
              <h6 class="card-title"> Earnings (Monthly)</h6>
              <p class="card-text" style="font-size: xx-large;"> $40,000</p>
              
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;box-shadow: 3px 3px 10px #a3afeb;">
            
            <div class="card-body">
                <h6 class="card-title"> Earnings (Annual)</h6>
              <p class="card-text"style="font-size: xx-large;">$215</p>
              
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;box-shadow: 3px 3px 10px #a3afeb;">
            
            <div class="card-body">
                <h6 class="card-title"> Tasks</h6>
              <p class="card-text"style="font-size: xx-large;">50%</p>
              
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;box-shadow: 3px 3px 10px #a3afeb;">
            
            <div class="card-body">
                <h6 class="card-title"> Pending request</h6>
              <p class="card-text"style="font-size: xx-large;">18</p>
              
            </div>
          </div>
    </div>
</div>